<div class="container">
  <h1>See All TODOS tasks</h1>

  <div id='new-todo'>
    <a href="/todos/new" id='new-todo-form'>Add a Task!</a>
  </div>

  <div class='todos'>
  <% @todos.each do |todo| %>
    <p id="task-<%= todo.id %>"> TASK: <a href="/todos/<%= todo.id %>"><%= todo.task %></a> | HELPFUL HINT: <%= todo.description %></p>
    <% if todo.completed? %>
    <% else %>
      <button type="button" id="<%=todo.id %>" class="btn btn-default">COMPLETE!</button>
    <% end %>
  <% end %>
  </div>
</div>
